

.login{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
   border-radius: 8px; 
   position: fixed;
    top: 115px;
    right:170px;
    transform: translate(0, -250%); 
    transition: all 500ms ease; 
    z-index: 3;
   
}

.login h1{
    font-size: 17pt;
}

.login form  div {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

.login form  div input{
    width: 200px;
    padding: 2px;
    border: 2px groove;
    border-radius: 8px;
}

.login form  div label{
    font-size: 13pt;
    margin-bottom: 3px;
    letter-spacing: 1px;
    
}

.login form button{
    border: none;
    padding: 4px;
  width: 60px;
    background-color: rgb(194, 255, 124);
   margin: 2px;

}

.links{
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.links  .link{
 text-decoration: none;
 font-size: 11pt;
 color: blue;
}

.modal_login_open{
    transform: translate(0, 0);
    
}   

#btn_close_login{
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    font-size: 15pt;
}

#btn_close_login:hover{
    background-color: black;
    color: white;
}



@media screen and (min-width:280px) and (max-width:540px){

    .login{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height:100%;
       border-radius: 5px; 
       position: fixed;
        top: 75px;
        right:0px;
        z-index: 4;   
    }
    
    .login form  div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 5px;
    }

    .login h1{
        font-size: 17pt;
        margin:50px ;
    }
    

    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }
    
    
    .login form button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        border: none;
       
        padding: 5px;
         width: 80px;
        background-color: rgb(194, 255, 124);
       
    
    }

    
    #btn_close_login{
        position: absolute;
        top: 0px;
        right: 20px;
        border: none;
        cursor: pointer;
        padding: 5px;
        background-color: transparent;
        font-size: 15pt;
}
}

@media screen and (min-width:600px) and (max-width:1280px){
    .login{
        background-color: rgb(255, 255, 255);
        max-width: 50%;
        max-height:60%;
       border-radius: 5px; 
       position: fixed;
        top: 130px;
        right:0px;
        z-index: 4;   
    }

    
#btn_close_login{
    position: absolute;
    top: 0px;
    right: 20px;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
    font-size: 15pt;
}
}