.container_product_page{
    margin-top: 150px;
 
}

.container_produto{
    display: flex; 
    margin: 0 50px;
    justify-content: space-around;
    padding: 2em;
   
}

.btn_back{
    margin: 0 50px;
    font-size: 20pt;
}

.container_produto img{
    max-height: 400px;
    width: 310px;
    border-radius: 8px;
}

.container_produto .description{
    flex-direction: column;
    font-size: 21px;
    margin-left: 60px;
    padding: 1em;
 
}


.container_produto .description h2{
    text-transform: uppercase;
    font-size: 20pt;
    letter-spacing: 2px;
}

.container_produto .description p{
    margin-bottom: 20px;
    margin-top: 20px;
}
.container_produto .prices{
    display: flex;
    
}
.price{
    margin: 15px;
    font-weight: bold;
}

.container_produto .desconto_ativo_product{
    text-decoration: line-through;
    color: gray;
   
}

.description .rating{
    display: flex;
}

.description h3, span{
    font-size: 14pt;
    font-weight: bold;
}

.tamanho{
    background-color: black;
    color: white;
    width: 140px;
    height: 30px;
    text-align: center;
}



.description button{
   
   justify-content: center; 
   width: 100px;  
   margin: 20px;
   padding: 1.2em;
   border: none;
   border-radius: 20px;
   background-color: rgb(152, 248, 152);
   cursor: pointer;
}


.container_btn button:hover{
    background-color: rgb(48, 177, 48);
    color: rgb(255, 255, 255);
}





@media screen and (min-width:280px) and (max-width:325px){
    .container_product_page{
        margin-top: 100px;
     
    }
     .container_produto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        word-break: break-all;
        margin: 0 auto;
    }
    .container_produto img{
       margin: 10px;
        height: 200px;
        width: 150px;
    }
    .container_produto h2{

        font-size: 10pt;
       
    }
    
    .container_produto .description{
        font-size:15pt ;
        text-align: justify;
    } 

    .price{
        font-size: 12pt;
        margin: 5px;
        font-weight: bold;
    }
    
    .container_btn{
        display: flex;
        margin: 0 auto;
       flex-wrap: wrap;
        flex-direction: row;
       justify-content: center; 
       width: 300px;  
    }
}

.state{
    text-align: center;
    font-size: 20pt;
    height: 80vh;
}

@media screen and (min-width:326px) and (max-width:900px){
    .container_product_page{
        margin-top: 190px;
     
    }
    .container_produto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        word-break: break-all;
        margin: 0 auto;
    }
    .container_produto img{
       margin: 10px;
        height: 280px;
        width: 240px;
    }
    .container_produto h2{

        font-size: 10pt;
       
    }
    
    .container_produto .description{
        font-size:15pt ;
        text-align: justify;
       
    } 

    .container_btn{
        display: flex;
        margin: 0 auto;
       flex-wrap: wrap;
        flex-direction: row;
       justify-content: center; 
       width: 300px;  
    }
}

