.container_banner_feminino{
    background-image: url('https://images.unsplash.com/photo-1643584670754-030895a9e8b5?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
   
    
}


.container_carrousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_carrousel h1{
    letter-spacing: 4px;
    text-transform: uppercase;
}

.carrousel{
    margin: 1px;
    display: flex;
    max-width: 80vw;
     overflow-x: hidden; 
    scroll-behavior: smooth;
}

.carrousel::-webkit-scrollbar{
    width: 0;
}


.buttons{
    display: flex;
    
}


.buttons button{
    
    border: none;
    background-color: white;
    margin: 20px;
    font-size: 10pt;
    cursor: pointer;
    border: 1px solid;
    width: 60px;
    height: 40px;
    border-radius: 20px;

}

@media screen and (min-width:771px) and (max-width:1560px){
    .container_banner_feminino{
        background-image: url('https://images.unsplash.com/photo-1643584670754-030895a9e8b5?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
       flex-direction: column;
        justify-content: center;
        
    }

    .carrousel{
        margin: 1px;
        display: flex;
        max-width: 90vw;
         overflow-x: auto; 
        scroll-behavior: smooth;
    }
    .carrousel::-webkit-scrollbar{
        width: 0;
    }
    
}


@media screen and (min-width:280px) and (max-width:770px){
    .container_banner_feminino{
        background-image: url('https://images.unsplash.com/photo-1643584670754-030895a9e8b5?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;   
        justify-content: center;
        
    }
    .carrousel{
        margin: 1px;
        display: flex;
        max-width: 85vw;
        overflow-x: auto; 
        scroll-behavior: smooth;
       
    } 

    .carrousel::-webkit-scrollbar{
        width: 0;
    }
    
    
    .container_carrousel h1{
        text-transform: uppercase;
        font-size: 15pt;
       
    }
      
}

